SKIPCHECK;
['Месяцев амортизации'] =N: IF (DB('Амортизация ОС', !Версии, !Список, !ЦФО, 'Тип ОС') @='Автомобиль', 600, CONTINUE);
['Месяцев амортизации'] =N: IF (DB('Амортизация ОС', !Версии, !Список, !ЦФО, 'Тип ОС') @='ПК', 60, CONTINUE);
['Месяцев амортизации'] =N: IF (DB('Амортизация ОС', !Версии, !Список, !ЦФО, 'Тип ОС') @='ПО', 120, CONTINUE);

[{'Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'}] =N:
IF(ATTRN('Время', !Показатели Амортизация ОС, 'Номер') < ATTRN('Время', DB('Амортизация ОС', !Версии, !Список, !ЦФО, 'Месяц ввода в эксплуатацию'), 'Номер'), 0,
IF(ATTRN('Время', !Показатели Амортизация ОС, 'Номер') > DB('Амортизация ОС', !Версии, !Список, !ЦФО, 'Месяцев амортизации')+ATTRN('Время', DB('Амортизация ОС', !Версии, !Список, !ЦФО, 'Месяц ввода в эксплуатацию'), 'Номер') -1, 0,
['Первоначальная стоимость'] \ ['Месяцев амортизации'] ) ) ;

#['Спецификация ОС'] =S: IF(DB('Амортизация ОС', !Версии, !Список, !ЦФО, 'Тип ОС')@='Автомобиль', , CONTINUE);
#['Спецификация ОС'] =S: IF(DB('Амортизация ОС', !Версии, !Список, !ЦФО, 'Тип ОС')@='ПК', 'dimension:ПК', CONTINUE);
#['Спецификация ОС'] =S: IF(DB('Амортизация ОС', !Версии, !Список, !ЦФО, 'Тип ОС')@='ПО', 'dimension:ПО', CONTINUE);

FEEDERS;
['Первоначальная стоимость'] => ['Год'];
['Тип ОС' ] => ['Месяцев амортизации'];